node_modules
package-lock.json
*.env
.vscode
/public/logs/*.json
verification-logs
/utils/*.json
/utils/*.txt
test_logs
dbfiles
test.js
!README.md
!LICENSE.md
*.md
.DS_Store
validations.log
playground.js
reverseGeocodeUtil.js